form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(-45deg, #4206309f, #2e12349f);
  border-radius: 44px;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 3px #12b97c;
}

@media only screen and (min-width: 768px) {
  div.form {
    display: flex;
    min-height: 50vw;
  }

  div.vibedown {
    max-width: 100%;
  }

  select.formSelect {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 55%;
    border-style: groove;
    border-color: #5dbade;
    outline: none;
  }

  input {
    margin: 0 54px 0 54px;
    background-color: rgba(1, 1, 1, 0.1);
    border-color: #5dbade;
    transition: 0.4s ease-in-out;
    color: #30c3bd;
    outline: none;
  }

  label {
    color: #93b1ff;
    text-shadow: 1px 1px 3px #30c3bd;
    font-size: 1.2em;
  }

  button {
    background: linear-gradient(-45deg, #420630, #2e1234, #1b1e39);
    border-width: 2px;
    border-color: #5dbade;
    color: #39c99b;
    border-radius: 17px 27px;
    width: 34%;
    background-size: 400% 400%;
    animation: gradient 14s ease-in-out infinite;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-indent: 10%;
    text-shadow: 1px 1px 3px #415497;
    margin: 0 14px 0 14px;
    align-self: center;
    transition: 0.4s ease-in-out;
    outline: invert;
  }

  button:hover {
    box-shadow: -2px -2px 2px #93b1ff, 2px -2px 3px #93b1ff,
      -2px 2px 4px #93b1ff, 2px 2px 4px #93b1ff;
  }

  input:hover {
    box-shadow: 2px 2px 4px #93b1ff;
  }

  select:hover {
    box-shadow: 2px 2px 4px #93b1ff;
  }
}
