form {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  background-color: rgba(229, 103, 143, 0.14);
  border-radius: 44px;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 3px #12b97c;
}

@media only screen and (min-width: 768px) {
  
  div.form {
    display: flex;
    min-height: 50vw;
  }

  
  div.vibedown {
    max-width: 100%;
  }

  select {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 55%;
    border-color: rgba(19, 185, 125, 1);
  }

  input {
    margin: 0 54px 0 54px;
    background-color: rgba(1, 1, 1, 0.1);
    border-color: rgba(19, 185, 125, 1);
  }

  label {
    color: #93b1ff;
    text-shadow: 1px 1px 3px #415497;
    font-size: 1.2em;
  }

  button {
    background-color: rgba(89, 158, 131, 0.1);

    border-width: 2px;
    border-color: rgba(19, 185, 125, 1);
    color: #39c99b;
    background-color: rgba(169, 130, 141, 0.13);
    border-radius: 17px 27px;
    width: 34%;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-indent: 10%;
    text-shadow: 1px 1px 3px #415497;
    margin: 0 14px 0 14px;
    align-self: center;
  }

button:hover {
}

input:hover {
}

select:hover {
}

}

