div.mediaFocus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.title {
  text-align: center;
  color: #2d2399;
  text-shadow: 1px 1px 3px #415497;
  font-family: 'Comfortaa', cursive;
}