/* font-family: 'Comfortaa', cursive; 
font-family: 'Rajdhani', sans-serif;
font-family: 'Montserrat', sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
}

select {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  border-color: cadetblue;
  color:cadetblue;
  background-color: rgba(14, 235, 154, .2);
  border-radius: 22px 7px 24px 8px;
  text-indent: 20%;
}

.typeSelect {
  width: 100px
}

nav {
  display: flex;
  padding: 15px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: rgb(14, 235, 154);
  font-family: 'Comfortaa', cursive;
}

a:hover {
  color: palevioletred;
}